<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />

    <script src="/javascripts/jquery-1.11.0.min.js" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
