<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="/mealvoter/poll/board">Poll Board</a></li>
				<li role="presentation"><a href="/mealvoter/poll/result">Vote Result</a></li>
				{{#if user}}
				<li role="presentation"><a href="/mealvoter/setup/restaurant">Restaurant Entry</a></li>
				<li role="presentation"><a href="/mealvoter/setup/menu">Menu Entry</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
	<div id="pollBoardDivId" class="row">
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$.post( "/mealvoter/poll/restaurant" ).then(function(restaurantArray) {

			var i = 1;
			$.map(restaurantArray, function( value, key ) {
				
				console.log(value);
				var containerDom = 
				"<div class='col-md-2 col-sm-3 well'>" +
					"<button class='btn btn-primary' type='button'" +
						"data-toggle='collapse' data-target='#collapseDiv" +i+ "' " +
						"aria-expanded='false' aria-controls='collapseDiv" +i+ "'>" +
						value.restaurantName +
					"</button>" +
					"<button id='"+value.restaurantId+"' class='btn btn-success voteClass'>" +
						"Vote" +
					"</button>" +
					"<div class='collapse' id='collapseDiv" +i+ "'>" +
						"<div class='well'>" +
						"</div>" +
					"</div>" +
				"</div>";
				$('div#pollBoardDivId').append(containerDom);

				$.map(value.Menus, function( value, key ) {
					var menuDom = 
					"<div class='list-group'>" +
						"<button type='button' class='list-group-item'>" +
							value.menuName
						"</button>"
					"</div>";
					$('div#collapseDiv'+i+' > div').append(menuDom);
				});
				i = i + 1;
			});

			$('.voteClass').click(function(event) {
				var restaurantId = event.delegateTarget.id;
				console.log(restaurantId);
				$.post('/mealvoter/poll/board/'+restaurantId).done();
			});

		});
	});
</script>